 <div
   class={{if this.toggle
         (csz "
            background: blue;
            & button {
              background: hotpink;
            }
            ")
    (csz "/app/styles/index.css")}}
    >
      <h1>Hello World!</h1>
      <button className="btn" {{ on "click" this.setToggle }} >Toggle</button>
      <div class={{ csz "https://unpkg.com/tailwindcss@1.1.4/dist/tailwind.min.css"}}>
        <h1 class="bg-blue-500">Hello from tailwind</h1>
      </div>
    </div>
